.Khung{
	margin: 0 auto;
	background: red;
	width: 800px;
	height: 400px;

}
.Khung .left{
	float: left;
	background: yellow;
	width: 50%;
	height: 400px;
	margin:0;


}
.Khung .right{
	float: left;
	background: blue;
	width: 50%;
	height: 400px;
	margin:0;
	
}
.Khung .left h3{
	margin: 0;
	width: 100%;
	height: 40px;
	float: left;
	text-align: center;
	line-height: 40px;

}
.Khung hr{
	width: 100%;
	float: left;
}
.Khung input{
	display: block;
	margin-left: 40px;
	width: 71%;
	padding: 8px 0px;
	padding-left: 35px;
}
.Khung select.Lop{
	float: right;
    margin-top: -35px;
    margin-right: 36px;
    width: 7%;
    height: 35px;
}
.Khung input.Name{
	background:  url(https://image.flaticon.com/icons/svg/64/64096.svg);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: left 3px top 4px; 
}
.Khung input.Password{
	background:  url(https://image.flaticon.com/icons/svg/64/64104.svg);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: left 3px top 4px; 
}
.Khung input.Location{
	background:  url(https://image.flaticon.com/icons/svg/149/149229.svg);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: left 3px top 4px; 
}
.Khung input.Twitter{
	background:  url(https://image.flaticon.com/icons/svg/149/149229.svg);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: left 3px top 4px; 
}


